{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Who's News</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
      <header>
        <!-- Login Indicator and Logout functionality-->
        <div class="login-indicator">
            {% if user.is_authenticated %}
                Hello, {{ user.username }}! 
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <p>Please log in</p>
            {% endif %}
        </div>
    </header>

        <nav class="navbar navbar-expand-lg">
          <a href="{% url 'home' %}" class="navbar-logo"><img src="{% static 'images/logo 3.png' %}" alt="logo"></a>
            <a class="navbar-brand" href="{% url 'home' %}">Whos News!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'news' %}">Categories</a>
                {% if not user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Log In</a>
                  <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
                <a class="nav-item nav-link"  href="{% url 'contact' %}">Contact Us</a>
                <a class="nav-item nav-link"  href="{% url 'edit_profile' %}">Edit Profile</a>

              </div>
            </div>
          </nav>
        
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active img1">
                <img src="{% static 'images/logo 1.png' %}" class="d-block w-100" alt="Whos News Logo">
                
                <div class="overlay-text slide1">
                    <h2>Welcome to Whos News!</h2>
                    <p>Quick Search with keywords below.</p>                  
                  </div>
                </div>
              

              <div class="carousel-item">
                <a href="{% url 'news' %}"><img src="{% static 'images/seemore.png' %}" class="d-block w-100" alt="See More"></a>

                <div class="overlay-text">
                    <h2>Click below to see more</h2>
                    <p>Head to our Categories page to see more!</p>                  
                  </div>
              </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

          <div class="content-wrap">
            <p class="searchbar-info">If no articles match the keyword entered, the below space will remain blank</p>
            <div class="searchbar-cont">
                <input type="search" class="searchbar" id="searchinput" placeholder="Quick Search.." minlength="3" maxlength="20" name="news-search">
                <button class="searchbutton" id="searchbutton">Search</button>
            </div>
      
            <div id="newsContainer" class="news-cards">

            </div>
        </div>

          <footer>
            <form method="post" action="{% url 'newsletter_signup' %}">
              {% include 'newsletter_signup.html' %}
          </form>
          
            <div class="footer-logo">
              <a href="{% url 'home' %}" ><img src="{% static 'images/logo 3.png' %}" alt="logo"></a>
            </div>
            <div class="footer-links">
              <a href="{% url 'home' %}">Home</a>
              <a href="{% url 'news' %}">Categories</a>
              <a href="{% url 'login' %}">Log In</a>
              <a href="{% url 'signup' %}">Sign Up</a>
              <a href="{% url 'contact' %}">Contact Us</a>
            </div>
            <div class="copyright">
              &copy; 2024 Who's News. All Rights Reserved.
            </div>
          </footer>


        <script src="{% static 'js/script.js' %}" type="module" async defer></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>