<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newsletter Signup</title>
</head>
<body>
    <form method="post" id="newsletter-container" style="margin-bottom: 20px;">
        {% csrf_token %}
        <h2 id="email-entry">Sign Up to our newsletter!</h2>
        <div style="display: flex; justify-content: space-between;">
            <input type="email" name="email" placeholder="Your Email" id="email-entry" style="flex: 3; margin-right: 10px;">
            <button type="submit" id="newsletter-submit" style="flex: 1;">Sign up</button>
        </div>
    </form>
</body>
</html>
